/* HEADER and General Stuff*/

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0px 75px;
    margin-bottom: 1px;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: inherit;
}

#one {
    background-color: #1F2937;
    display: flex;
    padding: 100px;
    justify-content: center;
}

#one-container-left {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    justify-content: space-around;
    align-items: flex-start;
}

#hero-heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

#hero-text {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px 0px;
}

#one-container-right {
    border: white solid 2px;
    border-radius: 5px;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2xDCh8OWNfRWYe5IdsjUw2g-A7OrZuMW7Dg&s);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0px;
    width: 100px;
}

#sign-up-top {
    display: f;
    align-self: center;
    height: 25px;
}

#two 
{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

figcaption {
    text-align: center;
}

#two-heading {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

#two-content {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    flex-wrap: wrap;
}
.card{
    background-color: #E5E7EB;
    border: #3882F6 solid 2px;
    border-radius: 10px;
    padding: 50px;
    margin: 0;
    width: 50px;
    height: 50px;
}

#three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    margin-bottom: 0;
}

#three-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}

#three-ps {
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
}